*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}

header {
    padding: 2%  8%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    position: relative;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 240px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

.nav-items {
    padding: 8px;
}

.nav-links {
    color: hsl(228, 39%, 23%);
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}

.nav-links:hover {
    color:  hsl(227, 12%, 61%);
    font-weight: 700;
    text-decoration: none;
}

.nav-btn {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: hsl(12, 88%, 59%);
    border: none;
    border-radius: 25px;
    color: hsl(0, 0%, 98%) ;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 15px;
    width: 170px;
}
.nav-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}

.hamburg {
    position: absolute;
    top: 5px;
    right: 24px;
}

.open-hamburg {
    display: none;
}

.close-hamburg {
    display: none;
}


@media screen and (max-width: 1593px) {
    body{
        background-color: whitesmoke;
    }

    .nav-content {
        gap: 180px;
    }

    .nav-list {
        gap: 40px;
    }
}

@media screen and (max-width: 1286px) {
    body{
        background-color: powderblue;
    }

    .nav-content {
        justify-content: space-between;
        gap: 130px;
    }

    .nav-list {
        gap: 35px;
    }

    .nav-btn-container {
        display: none;
    }

}


@media screen and (max-width: 1089px) {
    body{
        background-color: powderblue;
    }

    .nav-main-menu {
        display: none;
    }

    .open-hamburg {
        display: block;
    }
    
}

