*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    width: 100%;
    background-color: hsl(13, 100%, 91%);
    box-sizing: border-box;
}

header {
    padding: 2%  8%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
    width: 100%;
}

nav {
    gap: 50px;
    position: relative;
}
nav, .nav-content  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content {
    gap: 240px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

.nav-items {
    padding: 8px;
}

.nav-links {
    color: hsl(228, 39%, 23%);
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}

.nav-links:hover {
    color:  rgb(243, 96, 60);
}

.nav-btn {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: hsl(12, 88%, 59%);
    border: none;
    border-radius: 25px;
    color: hsl(0, 0%, 98%) ;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 15px;
    width: 170px;
}
.nav-btn:hover {
    cursor: pointer;
}

.hamburg {
    position: absolute;
    top: 5px;
    right: 24px;
}

.hamburg:hover{
   cursor: pointer;
}

.open-hamburg,
.close-hamburg,
.popup-menu {
    display: none;
}

.close-hamburg img.hide, 
.open-hamburg img.hide{
    display: none;
}
.close-hamburg.show-close {
    display: block;
}

.popup-menu.show {
    display: block;
}

.pop-list{
    display: flex;
    flex-direction: column;
    align-items:center;
}
/* MAIN CONTENT SECTION */
#main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 200px;
    padding: 2%  10%;
    z-index: 14;
    overflow: hidden;
}
.main-content-text {
    margin: 20px 0;
    width: 500px;
}

.main-header {
    font-size: 50px;
    margin-bottom: 13px;
    margin-top: 60px;
}

.main-text{
    color:   hsl(0, 0%, 14%);
    font-size: 22px;
}

.main-image {
    width: 750px;
    margin: 20px 0;
}
.main-image img{
    width: 100%;
}
.main-btn {
    margin-top: 40px;
}

/* FEATURE SECTION */
#feature {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 200px;
    padding: 4%  10%;
    position: relative;
    overflow: hidden;
}

h2 {
    font-size: 35px; 
    line-height: 45px;
}

h3, 
.about-service-text,
.texttwo {
    color: rgb(71, 67, 67);  
}

h3 {
    font-size: 22px;
    margin-bottom: 12px;  
}

.about-service-text {
    margin-top: 6px;
}

.about-service-text, 
.texttwo {
    font-size: 17px;
    padding-right: 80px;
}

.service-content {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.num {
    background-color: rgb(242, 96, 60);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    padding: 13px 30px;
    text-align: center;
    height: 45px;
    width: 100px;
}

.bg-left {
    background-color: #ffc2b3;
    height: 52vh;
    width: 480px;
    position: absolute;
    top: 1230px;
    left: -180px;
    transform: rotate(55deg);
    border-top-left-radius: 280px;
    border-top-right-radius: 280px; 
    z-index: 15;
}

/* TESTIMONIALS SECTION */
#testimonials-section {
    background-color: white;   
    text-align: center;
    padding: 2%;
    position: relative;
    width: 100%;
}

.testimonials {  
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 80px;
    position: relative;
}

.news-sub-container,
.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-card {
    background-color: rgb(253, 250, 250);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 60px 40px;
    position: relative;
    width: 540px;
    min-width: 320px;
}

.testimonial-card,
.testimonial-names {
    margin: 20px 0;
}

.testimonial-card img{
    border: 2px solid rgb(231, 218, 215);
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 220px;
    width: 70px;
}

.testimonial-names {
    color: rgb(71, 67, 67);
    font-size: 18px;
    font-weight: 700;
}
.testimonials-text {
    color: rgb(128, 126, 126);
    line-height: 25px;
}

.testimonials-btn {
    margin: 30px 0;
}

#news-letter {
    background-color: rgb(36, 45, 82);
    position: relative;
    height: 500px;
    width: 100%;
    border: 1px solid rgb(36, 45, 82);
}

.news-sub-container {
    display: flex;
    padding: 4%  10%;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}


.news-letter-header {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 50px;
}

.news-btn {
    background-color: rgb(255, 255, 255);
    color: #f3603c;
}

#particles-canvas {
    width: 100%;
    height: 500px;
    position: absolute;
}

/* FOOTER SECTION */
footer {
    background-color: rgb(253, 165, 143);  
    padding: 4%  10%;
    width: 100%;
}

.footer-subcontainer {
    display: flex;
    justify-content: space-between;
}

.footer-logo-img {
    width: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 100px;
}

.footer-list {
    padding: 10px 0;
}
.footer-list a{
    color: rgb(238, 236, 236);
    
    text-decoration: none;
}
.footer-list a:hover{
    color: #000000;
}

input {
    color: rgb(180, 175, 175);   
    outline: none;
    margin-bottom: 100px;
} 

input,
.footer-btn {
    border: none;
    border-radius: 25px;
    font-family: inherit;
    padding: 15px 20px;
}

.footer-btn {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(242, 95, 58);   
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: 10px; 
}
.footer-btn,
.footer-text {
    color: rgb(238, 236, 236);
    font-size: 15px;
}

.footer-text {
    text-align:right;
}

@media screen and (max-width: 1593px) {
    body{
        background-color: hsl(13, 100%, 91%);
    }

    .nav-content {
        gap: 180px;
    }

    .nav-list {
        gap: 40px;
    }

    .bg-left {
        background-color: #ffc2b3;
        height: 52vh;
        width: 440px;
        position: absolute;
        top: 1000px;
        left: -180px;
        transform: rotate(55deg);
        border-top-left-radius: 230px;
        border-top-right-radius: 230px; 
        z-index: 15;
    }

    .main-header {
        font-size: 45px;
        margin-bottom: 13px;
        margin-top: 0px;
    }
    
    
}

@media screen and (max-width: 1286px) {

    nav {
        gap: 200px;
    }

    .nav-content {
        justify-content: space-between;
        gap: 130px;
    }

    .nav-list {
        gap: 35px;
    }

    .nav-button {
        display: none;
    }
    .main-header {
        font-size: 40px;
        margin-bottom: 13px;
        margin-top: 0px;
    }

    .main-text{
        font-size: 18px;
    }


}


@media screen and (max-width: 1089px) {
    .nav-main-menu {
        display: none;
    }

    .open-hamburg {
        display: block;
    }

    .main-header {
        font-size: 35px;
        margin-bottom: 13px;
        margin-top: 0px;
    }

    .main-text{
        font-size: 18px;
    }


    .hamburg {
        position: absolute;
        top: 2px;
    }

    #feature {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .service-content {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
    }

    .num {
        background-color: rgb(242, 96, 60);
        border-radius: 10px;
        color: white;
        padding: 12px 30px;
        text-align: center;
        height: 40px;
        width: 70px;
    }

    .bg-left {
        display: none;
    }

    #testimonials-section {
        padding-top: 50px;
        background-color: rgb(255, 219, 209); 
    }

    .testimonials {
        gap: 20px;
    }

    .testimonial-card {
        background-color: #fdfafa;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        padding: 60px 40px;
        position: relative;
        width: 350px;
        margin: 20px 0;
    }
    
    .testimonial-card img{
        border: 2px solid #e7dad7;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        left: 130px;
        width: 70px;
    }

    .testimonials-btn {
        margin-top: 80px;
    }
    
}

@media screen and (max-width: 1000px) {
    #main {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 50px;
        padding: 4%  10%;
    }

    
    .main-content-text {
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }

    .main-image {
        width: 100%;
        margin: 20px 0 0 0;
    }
    
    .main-btn {
        margin-top: 20px;
    }

    .social-icons {
        margin-top: 50px;
    }

    input {
        margin-bottom: 20px;
        width: 100%;
    } 

    .footer-form {
        width: 100%;
    }

    .footer-btn {
        margin: 5px 0 20px 0;
        width: 80px;
    }

    .footer-subcontainer {
       flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 567px) {
    .num {
        background-color: rgb(242, 96, 60);
        border-radius: 10px;
        color: white;
        padding: 12px 30px;
        text-align: center;
        height: 40px;
        width: 100%;
    }
    .service-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }

    .news-sub-container {
        flex-direction: column;

    }

    .social-icons {
        margin-top: 40px;
    }
 }


